<h2>Users</h2>
<table>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <% if user.image.attached? %>
          <td><%= image_tag user.image, size: "200x200" %></td>
        <% else %>
          <td><%= image_tag 'no_image', size: "200x200" %></td>
        <% end %>
        <td><%= user.name %></td>
        <td><%= link_to "show" , user_path(user.id)%></td>
      </tr>
    <% end %>
  </tbody>
</table>